
<form #courseEdit="ngForm" (ngSubmit)="editData(courseEdit.value)">

    <div class="form-group">
        <label for="cname">Course Name</label>
        <input id="cname" type="text" class="form-control" name="courseName"   [ngModel]="courseObj.courseName">
            
    </div>
    
    <div class="form-group">
        <label for="fees">Course fees</label>
        <input id="fees" type="text" class="form-control" name="courseFees"  [ngModel]="courseObj.courseFees">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button"  class="btn btn-outline-danger mr-2" (click)="cancel()">Cancel</button>
    </form>
    