<div class="card">
    <div class="card-header">
       Site-map
    </div>
    <ul class="list-group">
      <li class="list-group-item"><button class="btn btn-primary" routerLink="dashboard">Dashboard</button></li>
      <li class="list-group-item"><button class="btn btn-primary" routerLink="courses">Courses</button></li>
      <li class="list-group-item"><button class="btn btn-primary" routerLink="institute">Institute</button></li>
      <li class="list-group-item"><button class="btn btn-primary" routerLink="enrollment">Enroll Now</button></li>
    </ul>
  </div>